<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjouuuur <%= @user.first_name %> <%= @user.last_name %> et bienvenue sur Evenbrite!</h1>
    <p>
      Voici ton email : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi ici : <%= @url %>.
    </p>
  
  </body>
</html>