<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, hello <%= @user.first_name %> <%= @user.last_name %> un utilisateur viens tout juste de s'inscrire a votre event!</h1>
    
    <p>
      Pour accéder à ton espace client, connecte-toi avec : <%= @url %>.
    </p>
    <p> À bientôt sur eventbrite !
  </body>
</html>